/* Скидання дефолтних стилів */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Скидання стилів списку */
ul, ol {
    list-style: none;
}

/* Скидання стилів текстових елементів */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

/* Скидання стилів для посилань */
a {
    text-decoration: none;
    color: inherit; /* Зберігання колірного значення батьківського елемента */
}

/* Зберігання додаткових стилів форми та кнопок */
input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
}

/* Скидання стилів для таблиць */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

/* Скидання стилів для кнопок */
button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
